*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
local-config.php
doc/*
extras/*
facades/*
forests/*
lines/*
objects/*
polygons/*
nbproject/*
downloads/*
repository/*
versioninfo/*
library-sitemap.xml
robots.txt
manifest.xml
manifest.xml.zip
